---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout sideBarActiveItemID="about">
  <h1 class="text-xl font-bold pb-3">(Mucho texto is comming)</h1>

  <p class="py-2">
    He sido <span class="font-semibold">"el loquito fan de las computadoras"</span> (y de la tecnología en general)
    casi desde que tengo uso de razón, pero en el 2022 fue que <span class="font-semibold">
      empecé de a lleno
      con este viaje,</span> y desde entonces ando dedicando
    muchísimas horas a estudiar, crear y romper cosas, hasta convertirme en <span class="font-semibold">
      el
      mejor ingeniero de software que pueda llegar a ser.
    </span>
  </p>

  <p class="py-2">
    Debo aclarar que no soy hater de las universidades (mi opinión sobre las
    universidades aquí), pero a mí personalmente me gusta mucho más la idea de
    <span class="font-semibold">estudiar de forma autodidacta.</span>
  </p>

  <p class="py-2">
      Teniendo en cuenta que se trata de una
        industria en la que es muy fácil <span class="font-semibold">demostrar empíricamente lo que sabes hacer</span>, y generalmente <span class="font-semibold">
          se valora mucho más tu conocimiento que lo
          que diga un título universitario
        </span>, basta con tener mucha disciplina, ganas de mejorar y saber
        encontrar los innumerables recursos gratuitos que tenemos disponibles.
  </p>
</BaseLayout>
